  <div class="d-flex p-3">

        <div class="mr-2">
        <%= current_user_gravatar(current_user) %>
        </div>
        <div>

          <h4><%= review.Author.Username %></h4>
          <p><%= review.Text %></p>



        </div>
      </div>
