// Place all the styles related to the opinions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.nav-icons {
  margin-right: 2em;
}

.sidenav-contents {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.side-icons {
  margin-top: 0.5em;
  margin-left: 1em;
  color: white;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #213346; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.side-icons {
  margin-right: 0.8em;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white;
}

.navbar {
  background-color: #4da6e4;
}

.bck-color {
  background-color: #4da6e4;
}

.navbar-brand {
  color: white;
}

.tweet-box {
 margin-top: 5em;
 height: 25vh;
}

.main-nav {
  width: 83%;
  margin-left: auto;
}
